body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

button {
    padding: 10px;
}

#titulo {
    height: 100px;
    border: 1px solid #000;
}
.verde {
    background-color: #0f0;
}

.vermelho {
    background-color: #f00;
}

.azul {
    background-color: #00f;
}

.preto {
    background-color: #000;
    color: #fff;
}